<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      data-namespace-typo3-fluid="true">
<!--
	=====================
		Partials/List/PeecItem.html
-->

<article class="article articletype-{newsItem.type}{f:if(condition: newsItem.istopnews, then: ' topnews')}" itemscope="itemscope" itemtype="http://schema.org/Article">
    <n:excludeDisplayedNews newsItem="{newsItem}"/>

    <!-- date -->

    <span class="news-list-date">
						<time itemprop="datePublished"
                              datetime="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}">
							<f:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</f:format.date>
						</time>
				</span>

    <!-- header -->
    <div class="news-div">
        <div class="news-item row align-items-center d-flex border mb-5">
            <div class="col-lg-9 textcol">
                <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
                    <h3>
                        {newsItem.title}
                    </h3>
                </n:link>

                <!-- teaser -->
                <n:removeMediaTags>
                    <f:if condition="{newsItem.teaser}">
                        <f:then>
                            <p class="newsCenter">{newsItem.teaser -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}</p>
                        </f:then>
                        <f:else>
                            <p class="newsCenter">{newsItem.bodytext -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}</p>
                        </f:else>
                    </f:if>
                </n:removeMediaTags>
                <p class="link">
                    <n:link newsItem="{newsItem}" settings="{settings}" class="more" title="{newsItem.title}">
                        <f:translate key="more-link"/>
                    </n:link>
                </p>
            </div>
            <f:if condition="{newsItem.mediaPreviews}">
            <!-- media preview element -->
                <f:then>
                    <div class="col-lg-3 imgcol p-0">
                        <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
                            <f:alias map="{mediaElement: newsItem.mediaPreviews.0}">
                                <f:if condition="{mediaElement.originalResource.type} == 2">
                                    <f:image class="p-0" image="{mediaElement}" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.list.media.image.maxWidth)}" maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.list.media.image.maxHeight)}"/>
                                </f:if>
                                <f:if condition="{mediaElement.originalResource.type} == 4">
                                    <f:render partial="Detail/MediaVideo" arguments="{mediaElement: mediaElement}"/>
                                </f:if>
                                <f:if condition="{mediaElement.originalResource.type} == 5">
                                    <f:image class="p-0" image="{mediaElement}" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.list.media.image.maxWidth)}" maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.list.media.image.maxHeight)}"/>
                                </f:if>
                            </f:alias>
                        </n:link>
                    </div>
                </f:then>
                <f:else>
                    <f:if condition="{settings.displayDummyIfNoMedia}">
                        <div class="news-img-wrap">
					        <span class="no-media-element">
						        <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
							        <f:image class="image fit productimages" src="{settings.list.media.dummyImage}" title="" alt="" maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.list.media.image.maxWidth)}" maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.list.media.image.maxHeight)}"/>
						        </n:link>
					        </span>
                        </div>
                    </f:if>
                </f:else>
                </f:if>
            </div>
        </div>
</article>
</html>