<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div id="bibtex_modal_{publication.uid}" class="modal fade pub-bibtex-modal" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">BibTex</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-times"></i>
                </button>
            </div>

            <div class="modal-body">
                {publication.bibTex->f:format.html()}
            </div>

            <div class="modal-footer">
                <f:link.action class="btn btn-bibtex-modal" action="downloadBibTex" arguments="{publication: publication}"><i class="fa fa-download pr-1"></i>
                    <f:translate key="LLL:fileadmin/templates/HTMLTemplates/Extensions/locallang.xlf:bibtex.download"/>
                </f:link.action>
                <button type="button" class="btn btn-bibtex-modal" data-dismiss="modal"><f:translate key="LLL:fileadmin/templates/HTMLTemplates/Extensions/locallang.xlf:bibtex.close"/></button>
            </div>
        </div>
    </div>
</div>