<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PEEC</title>
    <link rel="stylesheet" href="main.css">

</head>
<body>
<!-- Navigation bar -->
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid h-100">
        <a class="navbar-brand" href="#">
            <img src="img/PEECLogo.jpg" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse h-100 p-0" id="navbarResponsive">
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link" href="index.html">This is PEEC</a>
                <a class="nav-item nav-link active" href="news.html">News</a>
                <a class="nav-item nav-link" href="projects.html">Projects</a>
                <a class="nav-item nav-link" href="team.html">Team</a>
                <a class="nav-item nav-link" href="publications.html">Publications</a>
                <a class="nav-item nav-link" href="partner.html">Partners</a>
            </div>

            <div class="lang-menu">
                <a class="" href="#">EN</a> |
                <a class="" href="#">DE</a>
            </div>
        </div>
    </div>
</nav>
<!--Header/Banner-->
<header class="big-banner d-flex justify-content-center flex-column"
        style="background-image: linear-gradient(rgba(47, 48, 67, 0.5), rgba(47, 48, 67, 0.5)), url('img/stockfoto.jpg')">
    <div class="big-banner-text">
        <h1>News</h1>
    </div>
</header>

<!--Content-->
<main class="container news">
    <section class="intro text-center">
        <p>Nunquam imperium assimilatio.Rumors sunt clabulares de velox palus.Nunquam imperium assimilatio.Rumors sunt clabulares de velox palus.Nunquam imperium assimilatio.Rumors sunt clabulares de velox palus.</p>
    </section>

    <!-- News-Element Bild rechts -->
    <div class="news-div">
        <div class="news-item row align-items-center d-flex border mb-5">
            <div class="col-lg-9 textcol">
                <h3>News 1</h3>
                <p>Nunquam imperium assimilatio.Rumors sunt clabulares de velox palus.Nunquam
                    imperium assimilatio.Rumors sunt clabulares de velox palus.Nunquam imperium
                    assimilatio.Rumors sunt clabulares de velox palus. Nunquam imperium assimilatio.
                    Rumors sunt clabulares de velox palus.Nunquam imperium assimilatio.Rumors sunt
                    clabulares de velox palus.Nunquam imperium assimilatio.
                    Rumors sunt clabulares de velox palus.</p>
                <p class="link"><a href="newsdetail.html">Weiterlesen</a></p>
            </div>
            <div class="col-lg-3 imgcol p-0">
                <img class="p-0" src="img/stocknews.jpg" alt="newsImage">
            </div>
        </div>
        <!-- /News-Element -->


        <!-- News-Element Bild links -->
        <div class="news-item row align-items-center d-flex border mb-5">
            <div class="col-lg-9 textcol">
                <h3>News 2</h3>
                <p>Nunquam imperium assimilatio.Rumors sunt clabulares de velox palus.Nunquam
                    imperium assimilatio.Rumors sunt clabulares de velox palus.Nunquam imperium
                    assimilatio.Rumors sunt clabulares de velox palus. Nunquam imperium assimilatio.
                    Rumors sunt clabulares de velox palus.Nunquam imperium assimilatio.Rumors sunt
                    clabulares de velox palus.Nunquam imperium assimilatio.
                    Rumors sunt clabulares de velox palus.</p>
                <p class="link"><a href="newsdetail.html">Weiterlesen</a></p>
            </div>
            <div class="col-lg-3 imgcol p-0">
                <img class="p-0" src="img/stocknews.jpg" alt="newsImage">
            </div>
        </div>
        <!-- /News-Element -->

        <!-- News-Element Bild rechts -->
        <div class="news-item row align-items-center d-flex border mb-5">
            <div class="col-lg-9 textcol">
                <h3>News 3</h3>
                <p>Nunquam imperium assimilatio.Rumors sunt clabulares de velox palus.Nunquam
                    imperium assimilatio.Rumors sunt clabulares de velox palus.Nunquam imperium
                    assimilatio.Rumors sunt clabulares de velox palus. Nunquam imperium assimilatio.
                    Rumors sunt clabulares de velox palus.Nunquam imperium assimilatio.Rumors sunt
                    clabulares de velox palus.Nunquam imperium assimilatio.
                    Rumors sunt clabulares de velox palus.</p>
                <p class="link"><a href="newsdetail.html">Weiterlesen</a></p>
            </div>
            <div class="col-lg-3 imgcol p-0">
                <img class="p-0" src="img/stocknews.jpg" alt="newsImage">
            </div>
        </div>
        <!-- /News-Element -->
    </div>

</main>

<!--Footer-->
<footer class="footer container-fluid pt-5 mt-5 border-top">

    <h6>CONTACT</h6>
    <p>Reasearch Group PEEC</p>
    <p>Somewherestreet 5a</p>
    <p>A-4232 Hagenberg im Mühlkreis</p>

    <h6>MENU</h6>
    <p class="text-muted">
        <a href="#">This is PEEC</a> |
        <a href="#">News</a> |
        <a href="#">Projects</a> |
        <a href="#">Team</a> |
        <a href="#">Publications</a> |
        <a href="#">Partners</a>
    </p>
    <p>
        <a href="#">Imprint</a> |
        <a href="#">Privacy</a> |
        © 2020 KWM | All rights reserved.
    </p>
</footer>

<!--
 <p class="float-right">
    <a href="#">Back to top</a>
</p>
 -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>