<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<header class="big-banner d-flex justify-content-center flex-column"
        style="background-image: linear-gradient(rgba(47, 48, 67, 0.5), rgba(47, 48, 67, 0.5)), url('fileadmin/templates/img/stockfoto.jpg')">
    <div class="big-banner-text">
        <h1>Projects</h1>
    </div>
</header>

<!--Content-->
<main class="container projects">

    <section>
        <div class="filter">
            <div class="input-group">
                <select class="custom-select" id="pub_filter_from">
                    <option selected>Supporter</option>
                    <option value="1">efko</option>
                    <option value="2">JKU</option>
                    <option value="3">Kraft</option>
                    <option value="4">expert</option>
                    <option value="5">OÖ Wohnbau</option>
                </select>
            </div>
            <div class="input-group">
                <select class="custom-select" id="pub_filter_to">
                    <option selected>Area of Research</option>
                    <option value="1">HCI</option>
                    <option value="2">Accessibility</option>
                </select>
            </div>
            <div class="input-group">
                <select class="custom-select" id="pub_filter_type">
                    <option selected>From</option>
                    <option value="1">2012</option>
                    <option value="2">2013</option>
                    <option value="3">2014</option>
                    <option value="4">2015</option>
                    <option value="5">2016</option>
                    <option value="6">2017</option>
                    <option value="7">2018</option>
                    <option value="8">2019</option>
                    <option value="9">2020</option>
                </select>
            </div>
            <div class="input-group">
                <select class="custom-select" id="pub_filter_author">
                    <option selected>To</option>
                    <option value="1">2012</option>
                    <option value="2">2013</option>
                    <option value="3">2014</option>
                    <option value="4">2015</option>
                    <option value="5">2016</option>
                    <option value="6">2017</option>
                    <option value="7">2018</option>
                    <option value="8">2019</option>
                    <option value="9">2020</option>
                </select>
            </div>
        </div>
    </section>
    <h2 class="text-center mb-5">Projekte</h2>
    <div class="card-deck">
        <!-- ACTIVE CARDDECK-->
        <!--================================CARD================================-->
        <div class="card border-primary mb-5 float-left">
            <div class="bubble-div d-flex justify-content-end">
                <div class="support-bubble text-center border-primary">
                    <p class="mt-2">JKU</p>
                </div>
                <div class="support-bubble text-center border-primary">
                    <p class="mt-2">FFG</p>
                </div>
                <div class="support-bubble text-center border-primary">
                    <p class="mt-2">FFG</p>
                </div>
                <div class="support-bubble text-center border-primary">
                    <p class="mt-2">FFG</p>
                </div>
            </div>
            <div class="card-body text-center d-flex align-items-center">
                <p class="card-text">Personalisierung im Human Centered Computing</p>
            </div>
            <p class="text-right font-weight-bold mb-1 mr-1">20.3.2020</p>
            <div class="project-image">
                <div class="overlay">
                    <img class="card-img-bottom" src="fileadmin/templates/img/stockfoto.jpg" alt="Card image">
                </div>
                <div class="card-img-overlay d-flex flex-wrap align-content-end justify-content-center">
                    <p class="badge badge-pill badge-light p-2 mx-1">Tag 1</p>
                    <p class="badge badge-pill badge-light p-2 mx-1">Kat. 2</p>
                    <p class="badge badge-pill badge-light p-2 mx-1">Tag 3</p>
                </div>
            </div>
        </div>
        <!--================================CARD================================-->
        <div class="card border-primary mb-5 float-left">
            <div class="bubble-div d-flex justify-content-end">
                <div class="support-bubble text-center border-primary">
                    <p class="mt-2">JKU</p>
                </div>
                <div class="support-bubble text-center border-primary">
                    <p class="mt-2">FFG</p>
                </div>
                <div class="support-bubble text-center border-primary">
                    <p class="mt-2">FFG</p>
                </div>
                <div class="support-bubble text-center border-primary">
                    <p class="mt-2">FFG</p>
                </div>
            </div>
            <div class="card-body text-center d-flex align-items-center">
                <p class="card-text">Eine Digitale Plattform zur Nutzbarmachung informeller Kompetenzen im Freiwilligenbereich</p>
            </div>
            <p class="text-right font-weight-bold mb-1 mr-1">20.3.2020</p>
            <div class="project-image">
                <div class="overlay">
                    <img class="card-img-bottom" src="fileadmin/templates/img/stockfoto.jpg" alt="Card image">
                </div>
                <div class="card-img-overlay d-flex flex-wrap align-content-end justify-content-center">
                    <p class="badge badge-pill badge-light p-2 mx-1">Tag 1</p>
                    <p class="badge badge-pill badge-light p-2 mx-1">Kat. 2</p>
                    <p class="badge badge-pill badge-light p-2 mx-1">Tag 3</p>
                </div>
            </div>
        </div>
        <!--================================CARD================================-->
        <div class="card border-info mb-5 float-left">
            <div class="bubble-div d-flex justify-content-end">
                <div class="support-bubble text-center border-info">
                    <p class="mt-2">JKU</p>
                </div>
                <div class="support-bubble text-center border-info">
                    <p class="mt-2">FFG</p>
                </div>
                <div class="support-bubble text-center border-info">
                    <p class="mt-2">FFG</p>
                </div>
                <div class="support-bubble text-center border-info">
                    <p class="mt-2">FFG</p>
                </div>
            </div>
            <div class="card-body text-center d-flex align-items-center">
                <p class="card-text">Eine Digitale Plattform zur Nutzbarmachung informeller Kompetenzen im Freiwilligenbereich</p>
            </div>
            <p class="text-right font-weight-bold mb-1 mr-1">20.3.2020</p>
            <div class="project-image">
                <div class="overlay">
                    <img class="card-img-bottom" src="fileadmin/templates/img/stockfoto.jpg" alt="Card image">
                </div>
                <div class="card-img-overlay d-flex flex-wrap align-content-end justify-content-center">
                    <p class="badge badge-pill badge-light p-2 mx-1">Tag 1</p>
                    <p class="badge badge-pill badge-light p-2 mx-1">Kat. 2</p>
                    <p class="badge badge-pill badge-light p-2 mx-1">Tag 3</p>
                </div>
            </div>
        </div>
        <!--================================CARD================================-->
        <div class="card border-success mb-5 float-left">
            <div class="bubble-div d-flex justify-content-end">
                <div class="support-bubble text-center border-success">
                    <p class="mt-2">JKU</p>
                </div>
                <div class="support-bubble text-center border-success">
                    <p class="mt-2">FFG</p>
                </div>
                <div class="support-bubble text-center border-success">
                    <p class="mt-2">FFG</p>
                </div>
                <div class="support-bubble text-center border-success">
                    <p class="mt-2">FFG</p>
                </div>
            </div>
            <div class="card-body text-center d-flex align-items-center">
                <p class="card-text">Personalisierung im Human Centered Computing</p>
            </div>
            <p class="text-right font-weight-bold mb-1 mr-1">20.3.2020</p>
            <div class="project-image">
                <div class="overlay">
                    <img class="card-img-bottom" src="fileadmin/templates/img/stockfoto.jpg" alt="Card image">
                </div>
                <div class="card-img-overlay d-flex flex-wrap align-content-end justify-content-center">
                    <p class="badge badge-pill badge-light p-2 mx-1">Tag 1</p>
                    <p class="badge badge-pill badge-light p-2 mx-1">Kat. 2</p>
                    <p class="badge badge-pill badge-light p-2 mx-1">Tag 3</p>
                </div>
            </div>
        </div>
        <!--================================CARD================================-->
        <div class="card border-warning mb-5 float-left">
            <div class="bubble-div d-flex justify-content-end">
                <div class="support-bubble text-center border-warning">
                    <p class="mt-2">JKU</p>
                </div>
                <div class="support-bubble text-center border-warning">
                    <p class="mt-2">FFG</p>
                </div>
                <div class="support-bubble text-center border-warning">
                    <p class="mt-2">FFG</p>
                </div>
                <div class="support-bubble text-center border-warning">
                    <p class="mt-2">FFG</p>
                </div>
            </div>
            <div class="card-body text-center d-flex align-items-center">
                <p class="card-text">Eine Digitale Plattform zur Nutzbarmachung informeller Kompetenzen im Freiwilligenbereich</p>
            </div>
            <p class="text-right font-weight-bold mb-1 mr-1">20.3.2020</p>
            <div class="project-image">
                <div class="overlay">
                    <img class="card-img-bottom" src="fileadmin/templates/img/stockfoto.jpg" alt="Card image">
                </div>
                <div class="card-img-overlay d-flex flex-wrap align-content-end justify-content-center">
                    <p class="badge badge-pill badge-light p-2 mx-1">Tag 1</p>
                    <p class="badge badge-pill badge-light p-2 mx-1">Kat. 2</p>
                    <p class="badge badge-pill badge-light p-2 mx-1">Tag 3</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /ACTIVE CARDDECK-->

    <!-- DONE CARDDECK-->
    <div class="card-deck mt-5">
        <!--================================CARD================================-->
        <div class="card border-secondary mb-5 float-left">
            <div class="bubble-div d-flex justify-content-end">
                <div class="support-bubble text-center border-secondary">
                    <p class="mt-2">JKU</p>
                </div>
                <div class="support-bubble text-center border-secondary">
                    <p class="mt-2">FFG</p>
                </div>
                <div class="support-bubble text-center border-secondary">
                    <p class="mt-2">FFG</p>
                </div>
                <div class="support-bubble text-center border-secondary">
                    <p class="mt-2">FFG</p>
                </div>
            </div>
            <div class="card-body text-center d-flex align-items-center">
                <p class="card-text">Personalisierung im Human Centered Computing</p>
            </div>
            <p class="text-right font-weight-bold mb-1 mr-1">20.3.2020</p>
            <div class="project-image">
                <div class="overlay">
                    <img class="card-img-bottom" src="fileadmin/templates/img/stockfoto.jpg" alt="Card image">
                </div>
                <div class="card-img-overlay d-flex flex-wrap align-content-end justify-content-center">
                    <p class="badge badge-pill badge-light p-2 mx-1">Tag 1</p>
                    <p class="badge badge-pill badge-light p-2 mx-1">Kat. 2</p>
                    <p class="badge badge-pill badge-light p-2 mx-1">Tag 3</p>
                </div>
            </div>
        </div>
        <!--================================CARD================================-->
        <div class="card border-secondary mb-5 float-left">
            <div class="bubble-div d-flex justify-content-end">
                <div class="support-bubble text-center border-secondary">
                    <p class="mt-2">JKU</p>
                </div>
                <div class="support-bubble text-center border-secondary">
                    <p class="mt-2">FFG</p>
                </div>
                <div class="support-bubble text-center border-secondary">
                    <p class="mt-2">FFG</p>
                </div>
                <div class="support-bubble text-center border-secondary">
                    <p class="mt-2">FFG</p>
                </div>
            </div>
            <div class="card-body text-center d-flex align-items-center">
                <p class="card-text">Eine Digitale Plattform zur Nutzbarmachung informeller Kompetenzen im Freiwilligenbereich</p>
            </div>
            <p class="text-right font-weight-bold mb-1 mr-1">20.3.2020</p>
            <div class="project-image">
                <div class="overlay">
                    <img class="card-img-bottom" src="fileadmin/templates/img/stockfoto.jpg" alt="Card image">
                </div>
                <div class="card-img-overlay d-flex flex-wrap align-content-end justify-content-center">
                    <p class="badge badge-pill badge-light p-2 mx-1">Tag 1</p>
                    <p class="badge badge-pill badge-light p-2 mx-1">Kat. 2</p>
                    <p class="badge badge-pill badge-light p-2 mx-1">Tag 3</p>
                </div>
            </div>
        </div>
        <!--================================CARD================================-->
        <div class="card border-secondary mb-5 float-left">
            <div class="bubble-div d-flex justify-content-end">
                <div class="support-bubble text-center border-secondary">
                    <p class="mt-2">JKU</p>
                </div>
                <div class="support-bubble text-center border-secondary">
                    <p class="mt-2">FFG</p>
                </div>
                <div class="support-bubble text-center border-secondary">
                    <p class="mt-2">FFG</p>
                </div>
                <div class="support-bubble text-center border-secondary">
                    <p class="mt-2">FFG</p>
                </div>
            </div>
            <div class="card-body text-center d-flex align-items-center">
                <p class="card-text">Eine Digitale Plattform zur Nutzbarmachung informeller Kompetenzen im Freiwilligenbereich</p>
            </div>
            <p class="text-right font-weight-bold mb-1 mr-1">20.3.2020</p>
            <div class="project-image">
                <div class="overlay">
                    <img class="card-img-bottom" src="fileadmin/templates/img/stockfoto.jpg" alt="Card image">
                </div>
                <div class="card-img-overlay d-flex flex-wrap align-content-end justify-content-center">
                    <p class="badge badge-pill badge-light p-2 mx-1">Tag 1</p>
                    <p class="badge badge-pill badge-light p-2 mx-1">Kat. 2</p>
                    <p class="badge badge-pill badge-light p-2 mx-1">Tag 3</p>
                </div>
            </div>
        </div>
        <!--================================CARD================================-->
        <div class="card border-secondary mb-5 float-left">
            <div class="bubble-div d-flex justify-content-end">
                <div class="support-bubble text-center border-secondary">
                    <p class="mt-2">JKU</p>
                </div>
                <div class="support-bubble text-center border-secondary">
                    <p class="mt-2">FFG</p>
                </div>
                <div class="support-bubble text-center border-secondary">
                    <p class="mt-2">FFG</p>
                </div>
                <div class="support-bubble text-center border-secondary">
                    <p class="mt-2">FFG</p>
                </div>
            </div>
            <div class="card-body text-center d-flex align-items-center">
                <p class="card-text">Personalisierung im Human Centered Computing</p>
            </div>
            <p class="text-right font-weight-bold mb-1 mr-1">20.3.2020</p>
            <div class="project-image">
                <div class="overlay">
                    <img class="card-img-bottom" src="fileadmin/templates/img/stockfoto.jpg" alt="Card image">
                </div>
                <div class="card-img-overlay d-flex flex-wrap align-content-end justify-content-center">
                    <p class="badge badge-pill badge-light p-2 mx-1">Tag 1</p>
                    <p class="badge badge-pill badge-light p-2 mx-1">Kat. 2</p>
                    <p class="badge badge-pill badge-light p-2 mx-1">Tag 3</p>
                </div>
            </div>
        </div>
        <!--================================CARD================================-->
        <div class="card border-secondary mb-5 float-left">
            <div class="bubble-div d-flex justify-content-end">
                <div class="support-bubble text-center border-secondary">
                    <p class="mt-2">JKU</p>
                </div>
                <div class="support-bubble text-center border-secondary">
                    <p class="mt-2">FFG</p>
                </div>
                <div class="support-bubble text-center border-secondary">
                    <p class="mt-2">FFG</p>
                </div>
                <div class="support-bubble text-center border-secondary">
                    <p class="mt-2">FFG</p>
                </div>
            </div>
            <div class="card-body text-center d-flex align-items-center">
                <p class="card-text">Eine Digitale Plattform zur Nutzbarmachung informeller Kompetenzen im Freiwilligenbereich</p>
            </div>
            <p class="text-right font-weight-bold mb-1 mr-1">20.3.2020</p>
            <div class="project-image">
                <div class="overlay">
                    <img class="card-img-bottom" src="fileadmin/templates/img/stockfoto.jpg" alt="Card image">
                </div>
                <div class="card-img-overlay d-flex flex-wrap align-content-end justify-content-center">
                    <p class="badge badge-pill badge-light p-2 mx-1">Tag 1</p>
                    <p class="badge badge-pill badge-light p-2 mx-1">Kat. 2</p>
                    <p class="badge badge-pill badge-light p-2 mx-1">Tag 3</p>
                </div>
            </div>
        </div>

        <!-- /DONE CARDDECK-->

    </div>

    <div class="text-center m-5">
        <button type="button" class="btn btn-view-more" aria-label="Right Align">
            Weitere laden<i class="fa fa-arrow-right"></i>
        </button>
    </div>


</main>