<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<header class="big-banner d-flex justify-content-center flex-column"
        style="background-image: linear-gradient(rgba(47, 48, 67, 0.5), rgba(47, 48, 67, 0.5)), url('fileadmin/templates/img/stockfoto.jpg')">
    <div class="big-banner-text">
        <h1>Team</h1>
    </div>
</header>

<!--Content-->
<main>
    <section class="intro container d-flex flex-column align-items-center">
        <p>Nunquam imperium assimilatio.Rumors sunt clabulares de velox palus.Nunquam imperium assimilatio.Rumors sunt
            clabulares de velox palus.Nunquam imperium assimilatio.Rumors sunt clabulares de velox palus.</p>
    </section>

    <!-- Team -->

    <!-- Lead Section -->
    <div class="team-lead container">
        <div class="row d-flex">

            <!-- Lead Member -->
            <div id="member1" class="member member-lead col-sm-12 col-md-5">
                <img class="member-picture" src="../peec_template/img/jschoenboeck.jpeg" alt="Portrait Team">
                <h4 class="member-name">FH-Prof. DI(FH) Dr. Johannes Schönböck</h4>
                <p class="member-description">Lead</p>
                <a href="#" class="member-email">johannes.schoenboeck@fh-hagenberg.at</a>
                <div class="triangle-up"></div>
            </div>

            <!-- Lead Member -->
            <div id="member2" class="member member-lead col-sm-12 col-md-5">
                <img class="member-picture" src="../peec_template/img/maugstein.jpg" alt="Portrait Team">
                <h4 class="member-name">FH-Prof. DI(FH) Dr. Mirjam Augstein</h4>
                <p class="member-description">Lead</p>
                <a href="#" class="member-email">mirjam.augstein@fh-hagenberg.at</a>
                <div class="triangle-up"></div>
            </div>
        </div>
    </div>

    <!-- Popup Lead -->
    <div id="member-popup-lead" class="member-popup">
        <div class="d-flex justify-content-end">
            <i class="close-popup fas fa-times"></i>
        </div>
        <div class="container member-content">
            <div class="row">
                <div class="col-sm">
                    <h3 class="member-name">FH-Prof. DI(FH) Dr. Johannes Schönböck</h3>
                    <p class="contact"><a href="#"><i
                            class="fas fa-envelope"></i>johannes.schoenboeck@fh-hagenberg.at</a>
                    </p>
                    <p class="contact"><a href="#"><i class="fas fa-phone"></i>+43 650 123 46 78</a></p>
                </div>
                <div class="col-sm container">
                    <div class="row">
                        <div class="col-xl-4 col-md-5 col-sm-12 col-5">
                            <button type="button" class="btn">Publications</button>
                            <button type="button" class="btn">Projects</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <h4>Ausbildung</h4>

                    <!-- Ausbildungen -->
                    <div class="member-infos education">
                        <p class="member-infos-name">Johannes Kepler Universität Linz, Informatik, Dr. techn.</p>
                        <p class="member-infos-date">Oktober 2006 - Dezember 2011</p>
                    </div>

                    <div class="member-infos">
                        <p class="member-infos-name">Johannes Kepler Universität Linz, Informatik, Dr. techn.</p>
                        <p class="member-infos-date">Oktober 2006 - Dezember 2011</p>
                    </div>

                    <div class="member-infos">
                        <p class="member-infos-name">Johannes Kepler Universität Linz, Informatik, Dr. techn.</p>
                        <p class="member-infos-date">Oktober 2006 - Dezember 2011</p>
                    </div>

                </div>
                <div class="col-sm jobs">
                    <h4>Berufliche Laufbahn</h4>

                    <!-- Arbeitsstätten -->
                    <div class="member-infos">
                        <p class="member-infos-name">Johannes Kepler Universität Linz, Informatik, Dr. techn.</p>
                        <p class="member-infos-date">Oktober 2006 - Dezember 2011</p>
                    </div>

                    <div class="member-infos">
                        <p class="member-infos-name">Johannes Kepler Universität Linz, Informatik, Dr. techn.</p>
                        <p class="member-infos-date">Oktober 2006 - Dezember 2011</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Team -->
    <div class="team container">
        <div class="row d-flex">
            <!-- Team Member -->
            <div id="member3" class="member member-team col-sm-12 col-md-5 col-lg-4">
                <img class="member-picture" src="../peec_template/img/jschoenboeck.jpeg" alt="Portrait Team">
                <h4 class="member-name">FH-Prof. DI(FH) Dr. Johannes Schönböck</h4>
                <p class="member-description">Senior Researcher</p>
                <a href="#" class="member-email">johannes.schoenboeck@fh-hagenberg.at</a>
                <div class="triangle-up"></div>
            </div>

            <!-- Team Member -->
            <div id="member4" class="member member-team col-sm-12 col-md-5 col-lg-4">
                <img class="member-picture" src="../peec_template/img/jschoenboeck.jpeg" alt="Portrait Team">
                <h4 class="member-name">FH-Prof. DI(FH) Dr. Johannes Schönböck</h4>
                <p class="member-description">Senior Researcher</p>
                <a href="#" class="member-email">johannes.schoenboeck@fh-hagenberg.at</a>
                <div class="triangle-up"></div>
            </div>

            <!-- Team Member -->
            <div id="member5" class="member member-team col-sm-12 col-md-5 col-lg-4">
                <img class="member-picture" src="../peec_template/img/jschoenboeck.jpeg" alt="Portrait Team">
                <h4 class="member-name">FH-Prof. DI(FH) Dr. Johannes Schönböck</h4>
                <p class="member-description">Senior Researcher</p>
                <a href="#" class="member-email">johannes.schoenboeck@fh-hagenberg.at</a>
                <div class="triangle-up"></div>
            </div>
        </div>
    </div>

    <div id="member-popup-team" class="member-popup">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h3 class="member-name">FH-Prof. DI(FH) Dr. Johannes Schönböck</h3>
                    <p class="contact"><a href="#"><i
                            class="fas fa-envelope"></i>johannes.schoenboeck@fh-hagenberg.at</a>
                    </p>
                    <p class="contact"><a href="#"><i class="fas fa-phone"></i>+43 650 123 46 78</a></p>
                </div>
                <div class="col-sm container">
                    <div class="row">
                        <div class="col-xl-4 col-md-5 col-sm-12 col-5">
                            <button type="button" class="btn">Publications</button>
                            <button type="button" class="btn">Projects</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <h4>Ausbildung</h4>

                    <!-- Ausbildungen -->
                    <div class="member-infos education">
                        <p class="member-infos-name">Johannes Kepler Universität Linz, Informatik, Dr. techn.</p>
                        <p class="member-infos-date">Oktober 2006 - Dezember 2011</p>
                    </div>

                    <div class="member-infos">
                        <p class="member-infos-name">Johannes Kepler Universität Linz, Informatik, Dr. techn.</p>
                        <p class="member-infos-date">Oktober 2006 - Dezember 2011</p>
                    </div>

                    <div class="member-infos">
                        <p class="member-infos-name">Johannes Kepler Universität Linz, Informatik, Dr. techn.</p>
                        <p class="member-infos-date">Oktober 2006 - Dezember 2011</p>
                    </div>

                </div>
                <div class="col-sm jobs">
                    <h4>Berufliche Laufbahn</h4>

                    <!-- Arbeitsstätten -->
                    <div class="member-infos">
                        <p class="member-infos-name">Johannes Kepler Universität Linz, Informatik, Dr. techn.</p>
                        <p class="member-infos-date">Oktober 2006 - Dezember 2011</p>
                    </div>

                    <div class="member-infos">
                        <p class="member-infos-name">Johannes Kepler Universität Linz, Informatik, Dr. techn.</p>
                        <p class="member-infos-date">Oktober 2006 - Dezember 2011</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>