<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">



<div class="small-banner position-relative"
     style="background: url(<f:for each="{data.image}" as="img_data">{f:uri.image(src:img_data.uid, treatIdAsReference:1)}</f:for>) center center no-repeat;
        background-size: cover; background-attachment: inherit;" >
    <div class="overlay w-100 h-100 position-absolute" style="background: linear-gradient(rgba(47, 48, 67, 0.5), rgba(47, 48, 67, 0.5))">
    </div>
    <div class="small-banner-text" style="z-index: 1;">
        <f:if condition="{data.tx_mask_teaserheadline}">
            <h1>{data.tx_mask_teaserheadline}</h1>
        </f:if>
    </div>
</div>
