<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      data-namespace-typo3-fluid="true">
<!-- Link Back -->
<f:if condition="{settings.backPid}">
    <f:link.page pageUid="{settings.backPid}">
        <p class="pt-3 text-center text-muted">
            <i class="fa fa-arrow-left"></i>
            <n:link newsItem="{newsItem}" settings="{settings}" class="" title="{newsItem.title}">
                <f:translate key="back-link"/>
            </n:link>
        </p>
    </f:link.page>
</f:if>

</html>